@model Matissa.Models.Rol

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script>
        $(document).ready(function () {
            // Verifica si hay un mensaje de éxito en TempData
            var successMessage = '@TempData["SuccessMessage"]';

            if (successMessage) {
                // Muestra la alerta de éxito
                alert(successMessage);
            }
        });
    </script>
}


<link rel="stylesheet" href="/css/roles/Roles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
<div class="container-fluid titulo-roles">
    <div class="row">
        <div class="col-6 mx-auto">
            <h1 class="">Estas seguro que quieres eliminar rol</h1>
        </div>
    </div>
</div>
    <div class="row">
    <div class="col-md-4 mx-auto text-center">
        <div class=" col form-group">
            <strong>
            @Html.DisplayNameFor(model => model.NombreRol)
            </strong>
        </div>
        <div class=" col form-group">
            
            @Html.DisplayFor(model => model.NombreRol)
           
        </div>
        <div class=" col form-group">
            <strong>
            @Html.DisplayNameFor(model => model.Estado)
            </strong>
        </div>
        <div class=" col form-group">
           
            @Html.DisplayFor(model => model.Estado)
           
        </div>
    </div>
    </div>
    
    <div class="text-center">
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdRol" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-secondary" >Volver</a>
    </form>
    </div>
