@model IEnumerable<Matissa.Models.VentaServicio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/ventas/Ventas.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

<div class="container-fluid titulo-ventas">
    <div class="row">
        <div class="col-12">
            <h1>Listado de ventas</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <form asp-action="Index" asp-controller="VentaServicios" method="get">
                <div class="form-floating">
                    <input type="text" class="form-control rounded-pill buscar-venta" id="searchString" name="searchString" placeholder="">
                    <label for="searchString" class="label-buscar"><i class="fa-solid fa-magnifying-glass"></i>Buscar venta</label>
                </div>
                <!-- Puedes dejar el botón oculto si no deseas mostrarlo -->
                <!--<input type="submit" value="Buscar" class="btn btn-primary" style="display: none;" />-->
            </form>
        </div>
        <div class="col-6">
            <a asp-action="Create" class="crear-venta">
                <p class="rounded-pill" style="padding-top: 8px;">Crear venta<i class="fa-regular fa-square-plus" style="font-size: 30px; margin-left:10%; margin-top:5px; "></i></p>
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered" style="width: 95%; margin-left: 25px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FormaPago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdVentaServicio"><i class="fas fa-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.IdVentaServicio"><i class="fas fa-info-circle"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdVentaServicio"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
